@include font-face("HPPHA", "../fonts/ITCAvantGardeGothicLTBold", $file-formats: woff2 woff){
  font-style: normal;
  font-weight: 700;
}

@include font-face("HPPHA", "../fonts/ITCAvantGardeGothicLTDemi", $file-formats: woff2 woff){
  font-style: normal;
  font-weight: 500;
}

@include font-face("HPPHA", "../fonts/ITCAvantGardeGothicLTBook", $file-formats: woff2 woff){
  font-style: normal;
  font-weight: 400;
}


@include font-face("HPPHB", "../fonts/Bodoni-Bold-BT", $file-formats: woff2 woff){
  font-style: normal;
  font-weight: 700;
}

@include font-face("HPPHB", "../fonts/Bodoni-Italic-BT", $file-formats: woff2 woff){
  font-style: italic;
  font-weight: 400;
}