html {
  box-sizing: border-box;
  touch-action: manipulation;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  width: 100%;
}

.locked {
  height: 100%;
  overflow: hidden;
}

html,body {
  position: relative;
  margin: 0;
  padding: 0;
  /* debugging */
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  width: 100%;
  overflow-x: hidden;
  @media (max-width: $medium-screen) {
    padding-bottom: 3.25 * $base-spacing;
  }
}

#main:focus {
  outline: none;
  box-shadow: none;
}

.page-content {
  position: relative;

}

.container {
  max-width: $xl-screen;
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  @media screen and (min-width: $medium-screen) {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
  }
  @media screen and (min-width: $large-screen) {
    padding-left: 1.5 * $base-spacing;
    padding-right: 1.5 * $base-spacing;
  }
  margin-left: auto;
  margin-right: auto;
}


%padded-box {
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  @media screen and (orientation: portrait) {
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: $large-screen) {
    padding-left: 2 * $base-spacing;
    padding-right: 2 * $base-spacing;
  }
  @media screen and (min-width: $xl-screen) {
    padding-left: 4 * $base-spacing;
    padding-right: 4 * $base-spacing;
  }
}