html {
  box-sizing: border-box;
  touch-action: manipulation;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  width: 100%;
}

html,body {
  position: relative;
  margin: 0;
  padding: 0;
  @media screen and (orientation: landscape) {
    height: 100%;
    overflow: hidden;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
}

#main:focus {
  outline: none;
  box-shadow: none;
}

.page-content {
  position: relative;
  top: 2.5 * $base-spacing;
  @media screen and (orientation: landscape) {
    top: 0;
    display: flex;
    flex-direction: row;
    height: calc(100% - #{4 * $base-spacing});
  }
}
