figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}

.fade-image-onload {
  transition: opacity 1s ease;
  &.loading {
    opacity: 0;
    transition: opacity 0ms;
  }
}

