.collection--text {
  @media screen and (min-width: $large-screen) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .single-listing--title {
    flex: 1 1 30%;
  }
  .single-listing--description {
    display: none;
    margin-top: $small-spacing;
    flex: 1 1 auto;
    @media screen and (min-width: $medium-screen) {
      margin-left: $base-spacing;
      columns: 2;
      column-gap: $base-spacing;
    }
  }
}