.collection-wrapper {
  &__OTR {
    *, a {
      color: inherit !important;
      text-shadow: none !important;
      box-shadow: none !important;
      outline-color: none !important;
    }
    .weekly-screenings--entry, .film-card {
      border-bottom: none;
    }
    img {
      @extend .duotone;
    }
  }
}

.collection--header {
  padding: 4 * $base-spacing 0 2 * $base-spacing;
  @media screen and (min-width: $large-screen) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  svg {
    flex: 1;
    float: right;
    width: 7.5 * $base-spacing;
    height: auto;
    margin-top: -2 * $base-spacing;
    margin-left: $small-spacing;
    @media screen and (min-width: $large-screen) {
      float: none;
      margin-top: 0;
      margin-left: 0;
      margin-right: 2 * $base-spacing;
    }
  }
}

.collection--text {
  flex: 0 0 77.5%;
}