#{$all-buttons} {
  appearance: none;
  position: relative;
  background-color: $action-color;
  border: 0;
  border-radius: 2px;
  border: 1px solid $medium-gray;
  color: $base-font-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1.25 * $base-spacing;
  padding: 0 $small-spacing;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  &:hover,
  &:focus {
    // background-color: $base-font-color;
    color: #fff;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      // background-color: $action-color;
    }
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.125em adjust-color($action-color, $lightness: -5%, $alpha: -0.75);
  }

}


.button {
  &::before {
    content: "";
    position: absolute;
    background: $yellow;
    left: -1px;
    right: 101%;
    top: 0;
    z-index: -1;
    bottom: -1px;
    transition: right $base-duration $base-timing;
  }
  &:hover,
  &:focus {
    &::before {
      right: 0;
    }
  }
  &__small {
    font-size: modular-scale(-1);
    line-height: $base-spacing;
  }
  &__big {
    padding: $small-spacing/2 1.5 * $base-spacing;
  }
  &__ghost {
    background-color: transparent;
    text-transform: none;
    border: $thick-border;
    border-color: $yellow;
    &:hover {
      color: $base-font-color;
    }
  }
  &__text {
    background-color: transparent;
    border-color: transparent;
    text-transform: none;
    padding: $base-spacing/3 $small-spacing/2;
    &::before {
      content: none;
      display: none;
    }
  }

  &__white {
    border-color: white;
    color: white;
    &:hover {
      color: $base-font-color;
      border-color: $yellow;
    }
  }

  &__yellow {
    background-color: $yellow;
    border-color: $yellow;
    color: $base-font-color;
    &::before {
      display: none;
    }
    &:hover {
      background-color: darken($yellow,20%);
      color: $base-font-color;
      border-color: darken($yellow,20%);
    }
  }

  &__gray {
    background-color: $light-gray;
    border-color: $light-gray;
    color: $base-font-color;
    &::before {
      display: none;
    }
    &:hover {
      background-color: darken($light-gray,20%);
      color: $base-font-color;
      border-color: darken($light-gray,20%);
    }
  }
}