#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: 0;
  border: 1px solid $medium-gray;
  color: $base-font-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1.25 * $base-spacing;
  padding: 0 $small-spacing;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  &:hover,
  &:focus {
    background-color: $base-font-color;
    color: #fff;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background-color: $action-color;
    }
  }
  &:focus {
    outline: .15rem solid transparentize($yellow,.5);
    outline-offset: .15rem;
    box-shadow: none;
  }

}


.button {
  &__small {
    font-size: modular-scale(-1);
  }
  &__ghost {
    background-color: transparent;
    text-transform: none;
    border: $thick-border;
    border-color: $yellow;
    &:hover {
      background-color: $yellow;
    }
  }
  &__text {
    background-color: transparent;
    border-color: transparent;
    text-transform: none;
    padding: $base-spacing/3 $small-spacing/2;
  }

  &__white {
    border-color: white;
    color: white;
  }
}