@use "sass:math";

.field {
  display: flex;
  flex-direction: row;
  max-width: 35em;

  + .field {
    margin-top: $small-spacing * 0.5;
  }

  input ~ input {
    margin-left: $small-spacing;
  }
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing * 0.5;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing * 0.5;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

#{$all-text-inputs},
select {
  appearance: none;
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: math.div($base-spacing, 3);
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;
    border-color: tint($base-font-color, 40%);

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;
}

[type='checkbox'],
[type='radio'] {
  display: inline;
  margin-right: $small-spacing * 0.5;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
  + label {
    position: relative;
    display: inline-block;
    padding-left: 1.2 * $base-spacing;
    line-height: $base-spacing;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 0.1 * $base-spacing;
      width: 0.8 * $base-spacing;
      height: 0.8 * $base-spacing;
      border: 1px solid $medium-gray;
      border-radius: 100%;
      background: #fff;
    }
    &:after {
      content: '';
      width: 1 * $small-spacing;
      height: 1 * $small-spacing;
      background: $yellow;
      position: absolute;
      top: 0.5 * $small-spacing;
      left: 0.3 * $small-spacing;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
}

[type='radio'][disabled] + label:before {
  border-color: tint($base-font-color, 40%);
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

[type='file'] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;
}
