figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}

.fade-image-onload {
  transition: opacity 1s ease;
  &.loading {
    opacity: 0;
    transition: opacity 0ms;
  }
}

.duotone {
  position: relative;
  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    z-index: 9;
  }

  img {
    filter: saturate(0);
  }

  &::before {
    mix-blend-mode: multiply;
    background-color: rgba(221, 204, 0, 1);
  }

  &::after {
    mix-blend-mode: screen;
    background-color: rgba(221, 0, 0, 1);
  }
}

.responsive-iframe {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: $base-spacing 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.ql-video {
  margin: $base-spacing 0;
  width: 100%;
  height: calc((100vw - #{2 * $base-spacing}) * 0.5625);

  @media screen and (orientation: landscape) {
    height: calc(#{$large-screen *  0.5625 * 0.7} );
  }

  @media screen and (min-width: $xl-screen) {
    height: calc(#{$xl-screen *  0.5625 * 0.7} );
  }
}