html {
  font-size: 0.75em;
  @media screen and (min-width: $medium-screen) {
    font-size: 0.8125em;
  }
  @media screen and (min-width: $large-screen) {
    font-size: 0.875em;
  }
  @media screen and (min-width: $xl-screen) {
    font-size: 0.9375em;
  }
  @media screen and (min-width: $xxl-screen) {
    font-size: 1em;
  }
}


body {
  color: $base-font-color;
  font-family: $base-font-family, 'Century Gothic', sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
}

::selection {
  color: white;
  background-color: $yellow;
  text-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: 700;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

strong {
  font-weight: 500;
}

a {
  color: shade($action-color,5%);
  text-decoration: none;
  transition: color $base-duration $base-timing;
  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 10%);
  }
  &:focus {
    outline: .15rem solid transparentize($yellow,.5);
    outline-offset: .15rem;
    box-shadow: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

sup {
  font-size: modular-scale(-3);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.section-title {
  font-family: $heading-font-family, 'Times New Roman', serif;
  font-weight: 400;
  color: inherit;
  font-size: modular-scale(6);
  @media screen and (min-width: $large-screen) {
    font-size: modular-scale(7);
  }
  font-style: italic;
  text-align: center;
  margin: 2.5 * $base-spacing 0 1.5 * $base-spacing;
  letter-spacing: .025em;
  -webkit-font-smoothing: antialiased;
}

%underline {
  text-shadow: -2px -2px white, -2px 2px white, 2px -2px white, 2px 2px white;
  // text-shadow: -2px -3px white, -2px 3px white, 2px -3px white, 2px 3px white;
  background-size: 1px 1.25em;
  box-shadow:
    inset 0 0.05rem white,
    inset 0 -0.2rem $yellow;
}

%underline_simple {
  background-size: 1px 1.25em;
  box-shadow:
    inset 0 0.05rem transparent,
    inset 0 -0.2rem $yellow;
}

