#spektrixBasketSummary {
  font-weight: 500;

  @media screen and (orientation: portrait) {
    position: absolute;
    top: 1em;
    right: 1em;

    .basket-text {
      display: none;
    }
  }

  a {
    color: $base-font-color;
  }

  svg {
    width: 1.2em;
    height: 1.2em;
  }
}
