#spektrixBasketSummary {
  font-weight: 500;

  .basket-text {
    display: inline;
  }

  .mobile-basket-count {
    display: none;
    @media screen and (orientation: portrait) {
      display: block;
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      line-height: 1.6;
      background-color: $yellow;
      padding: 0 0.5em;
      font-size: modular-scale(-1);
      border-radius: 9999px;
    }
  }

  @media screen and (orientation: portrait) {
    position: absolute;
    top: 2em;
    left: 2em;

    .basket-text {
      display: none;
    }
  }

  a {
    color: $base-font-color;
  }

  svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-top;
    @media screen and (orientation: portrait) {
      width: 2.4em;
      height: 2.4em;
      vertical-align: initial;
    }
  }
}
