.bookmark--container {
  body.page-simple__checkout &,
  body.page-simple__checkout-test & {
    display: none;
  }

  @media screen and (orientation: portrait) {
    display: none;
  }

  .container {
    position: relative;
  }
}

.bookmark {
  transition: transform .5s 1s ease;
  position: absolute;
  z-index: 999;
  top: 105vh;
  right: 0;
  width: 10 * $base-spacing;
  padding: $small-spacing;
  background-color: $alabaster;
  border-radius: 99999px;

  svg {
    width: 100%;
    margin: 0;
  }

  &.active {
    transition: transform .5s 0s ease;
    // transform: translateY(0);
    transform: rotate(10deg);
  }

  svg {
    height: auto;
    display: block;
    stroke: $light-black;
    stroke-width: 0;
    // transform-origin: center top;
    // transition: transform .5s ease;
    // #revolver {
    //   animation: revolver 6s ease infinite;
    //   transform-origin: center center;
    // }
  }
}

@keyframes enterBookmark {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes revolver {
  25%,
  50% {
    transform: rotate(180deg);
  }
  75%,
  100% {
    transform: rotate(360deg);
  }
}