.spectrix-boxoffice,
.spectrix-checkout,
.spectrix-membership {
  width: 100%;
  height: 100%;
  border: none;
}

.spectrix-membership {
  margin: 2 * $base-spacing 0;
  border-top: $base-border;
  border-bottom: $base-border;
}

.spectrix-boxoffice,
.spectrix-checkout {
  height: 150vh; // fallback in case resizing script fails
  @media screen and (min-width: $medium-screen) {
    margin: 0 (-$small-spacing) 0;
  }
}