.spectrix-boxoffice,
.spectrix-checkout {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: none;
  padding: 0 $small-spacing/2;
}

.spectrix-boxoffice {
  padding: $base-spacing $small-spacing;
    @media screen and (min-width: $medium-screen) {
    padding: 0;
  }
}