.label {
  display: inline-block;
  line-height: $heading-line-height;
  padding: 0 .3em;
  font-weight: 500;
  text-transform: uppercase;
  border: $base-border;
  border-color: transparentize($black,.85);
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
  &:hover {
    color: $base-font-color;
  }
  &__dark-bg, &__dark-bg:hover {
    color: white;
  }
  // &--tuesday-wonder {
  //   background-color: $tuesday-wonder;
  // }
  // &--byobaby {
  //   background-color: $byo-baby;
  // }
  // &--creatures-of-the-night {
  //   background-color: $creatures;
  //   color: white;
  //   -webkit-font-smoothing: antialiased;
  // }
  // &--hyde-seek {
  //   background-color: $hide-seek;
  // }
  // &--memory-matinee {
  //   background-color: $memory-matinee;
  // }
  // &--special-films {
  //   background-color: $special-films;
  // }
  // &--pavillion-presents {
  //   background-color: $pavillion-presents;
  // }
  // &--captioned {
  //   background-color: $captioned;
  //   color: white;
  // }
  // &--autism-friendly {
  //   background-color: $autism-friendly;
  // }
  // &--bollywood {
  //   background-color: $bollywood;
  //
  // }
}