.site-header {
  .container {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  position: relative;
  background-color: #fff;
  z-index: 99;
  padding: $base-spacing 0;
  height: $header-height-landscape;
  box-sizing: border-box;
  transition: opacity 5 * $base-duration 5 * $base-duration $base-timing;
  .slider-loading & {
    opacity: 0;
    transition: opacity 0ms 0ms;
  }
  .site-header--home-link {
    outline-offset: $small-spacing;
    margin-right: $base-spacing;
    width: 5 * $base-spacing;
    @media screen and (min-width: $xl-screen) {
      margin-right: 1.5 * $base-spacing;
    }
    @media screen and (max-width: $medium-screen) {
      margin-left: auto;
      margin-right: auto;
    }
    body.film &,
    body.page &,
    body.collection &
     {
      @media screen and (max-width: $medium-screen) {
        width: 4 * $base-spacing;
      }
    }

  }
  body.home &,
  body.page &,
  body.film &,
  body.collection &
   {
    margin-bottom: -($header-height-landscape);
    // @media screen and (orientation: portrait) {
    //   margin-bottom: 0;
    // }
    .site-header--navigation a {
      color: white;
    }

      background-color: transparent;
      border-bottom: none;
      box-shadow: none;

    .hpph-logo {
      .hyde-park {
        fill: $yellow;
      }
      .picture-house {
        fill: white;
      }
    }

  }
  .hpph-logo {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: -.75 * $small-spacing;
  }
}



.site-header--navigation {
  margin-right: auto;
  display: none;
  @media screen and (min-width: $medium-screen) {
    display: block;
  }
  li {
    float: left;
    margin-right: $base-spacing;
    @media screen and (min-width: $large-screen) {
      margin-right: 1.5 * $base-spacing;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  a {
    color: $base-font-color;
    font-weight: 600;
    display: inline-block;
    font-size: modular-scale(0);
    line-height: 1.5 * $base-spacing;
    -webkit-font-smoothing: antialiased;
    &:hover {
      color: $yellow !important;
    }
    &:focus {
      outline: none;
      @extend %underline_simple;
    }
  }
}

.site-header--right {
  display: none;
  @media screen and (min-width: $medium-screen) {
    display: block;
  }
  margin-left: auto;
}

.site-header--book-button {
  font-size: modular-scale(-1);
  margin-left: $base-spacing;
  background-color: transparent;
  border: .15em solid white;
  color: white;
  @media screen and (orientation: portrait) {
    display: none;
  }
}


.skip-to-main-content {
  position: fixed;
  display: inline-block;
  background-color: white;
  font-weight: 700;
  padding: $small-spacing;
  top: 0;
  border: $thick-border;
  left: -9999px;
  &:focus {
    left: 0;
  }
}

