.alert {
  background-color: $off-white;
  padding: $base-spacing;
  margin: $small-spacing 0;
  font-weight: 400;
  font-size: modular-scale(-1);
  border: $base-border;
  border-left: 2 * $xl-border-width solid $action-color;

  &__warning {
    text-align: center;
    padding: 2 * $base-spacing;
    background-color: $yellow;
  }
  h3 {
    margin-bottom: $small-spacing/2;
  }
  a {
    color: $base-font-color;
    font-weight: 500;
    text-decoration: underline;
  }
}

.disclaimer {
  font-size: modular-scale(-2);
  border-top: $base-border;
  padding: $small-spacing;
  display: none;
  position: relative;
  @media screen and (orientation: portrait) {
    padding: $small-spacing 1.5 * $base-spacing;
    display: block;
  }
  @media screen and (min-width: $large-screen) {
    display: block;
    padding: $base-spacing 1 * $base-spacing;
  }
  text-align: center;
}
.disclaimer-close {
  height: 1 * $base-spacing;
  width: 1 * $base-spacing;
  border-radius: 50%;
  background-color: $light-gray;
  color: $medium-gray;
  font-weight: 400;
  padding: 0;
  position: absolute;
  top: 50%;
  right: .25 * $base-spacing;
  @media screen and (min-width: $large-screen) {
    display: none;
  }
  transform: translateY(-50%);
  font-size: modular-scale(2);
}