.site-footer--social {
  flex: 0 0 auto;
  margin-top: auto;
  display: none;
  @media screen and (min-width: $medium-screen) {
    display: block;
  }
  li {
    display: inline-block;
    &:first-child {
      margin-left: 0;
    }
    span {
      display: none;
    }
    @media screen and (min-width: $medium-screen) {
      display: block;
      margin-left: $small-spacing/3;
      span {
        display: inline;
      }
    }
  }
  a {
    display: block;
    position: relative;
    width: $base-spacing;
    color: white;
    font-size: modular-scale(-1);
    text-transform: lowercase;

    @media screen and (min-width: $medium-screen) {
      line-height: 1.25 * $base-spacing;
      width: auto;
      opacity: 0.7;
      font-size: modular-scale(-2);
      // svg * {
      //   opacity: 0.7;
      // }
    }
    &:hover, &:focus {
      opacity: 1;
      color: $yellow;
      svg * {
        opacity: 1;
        color: $yellow;
      }
    }
  }
  svg {
    display: inline-block;
    width: $base-spacing;
    height: $base-spacing;
    @media screen and (min-width: $medium-screen) {
      width: .75 * $base-spacing;
      height: .75 * $base-spacing;
      margin-right: $small-spacing/2;
      margin-bottom: -$small-spacing/2;
    }
    * {
      fill: white;
      transition: fill $base-duration;
    }

  }
}