@import 'bourbon/bourbon'
@import 'base/base'
@import 'neat/neat'


h1
  font-size: modular-scale(3)
  margin-bottom: $base-spacing

.InstanceCalendar, .SeatingAreaInstructions
  display: none

.Ticket_Types_Selection
  margin: 2 * $base-spacing 0
  border-top: $base-border
  > div
    display: flex
    flex-direction: row
    align-items: center
    padding: $small-spacing 0
    border-bottom: $base-border
    label
      flex: 1 1 60%
      margin-bottom: 0
    input
      flex: 0 0 20%
      margin-bottom: 0
    span
      flex: 0 0 20%
      margin-bottom: 0

#ctl00_ContentPlaceHolder_ItemsPanel
  .view-details
    display: none

.CheckoutLink
  @extend .button