@import 'bourbon/bourbon'
@import 'base/base'
@import 'neat/neat'
@import 'notifications'

html
  font-size: .875em

body
  max-width: 960px
  overflow: hidden
  padding: $base-spacing $small-spacing

h1
  font-size: modular-scale(3)
  margin-bottom: $base-spacing

.InstanceCalendar, .SeatingAreaInstructions, .SeatingAreaOptionalInstructions, .OptionalMessage, .CheckoutHeading, .Event_Description, .Event_Detail, .YourPreferencesHeading, .TicketDelivery, .SummaryHeading, .DeliveryHeading
  display: none

.Ticket_Types_Selection
  margin: 2 * $base-spacing 0
  border-top: $base-border

// Event List iframe
.MonthList
  display: flex
  flex-direction: row
  border-bottom: $base-border
  margin-bottom: 2 * $base-spacing
  li
    margin-right: $small-spacing
    a
      color: $base-font-color
      display: inline-block
      padding: $small-spacing 0
      &.Selected
        font-weight: 700
        @extend %underline


// Ticket details link
#ctl00_ContentPlaceHolder_ItemsPanel
  .ViewDetails
    display: none

.AreaName
  display: none

.ChooseSeatsHeading
  // "we've got rid of our booking fees" message
  h2
    font-weight: 500
    margin-top: 0
    margin-bottom: $base-spacing
    @extend .alert
    font-size: modular-scale(0)

// Savings plus qty and total headings
dt.Header, dd.Header, .Savings
  display: none

// Grand total
dt.Footer
  border-top: $base-border
  padding-top: $small-spacing
  margin-top: $small-spacing

dd.Footer
  border-bottom: $base-border
  padding-bottom: $small-spacing
  margin-bottom: $small-spacing



// Validation errors
#ValidationError
  flex: 0 0 100%
  text-align: right
  color: red

// Spectrix logo footer
.SpektrixFooterNormal
  background-color: transparent

// H3 headings on old checkout
.Caption
  margin-top: $base-spacing

// Buttons
.Buttons
  padding-top: $small-spacing
  padding-bottom: $base-spacing
  text-align: right
  a
    color: $base-font-color
  a + a
    margin-left: $small-spacing
  // 'continue browsing link'
  #ctl00_ContentPlaceHolder_WhatsOnLink
    display: none
  // Edit and delete buttons
  .ItemEditButton, .ItemDeleteButton, .Delete, .Edit, .Delivery, #ctl00_ContentPlaceHolder_MembershipsRepeater_ctl00_AddToBasketButton
    @extend .button__gray
  .DeclineButton, .PreviousButton
    @extend .button__gray
    @extend .button__big
  .FindAddressButton
    @extend .button__yellow
  .ContinueButton, .CheckoutLink, .UpdateButton, .Login, .NextButton
    @extend .button__yellow
    @extend .button__big
  #ctl00_ContentPlaceHolder_NewAccountLink
    @extend .button__big
    display: block

.CheckoutLink
  @extend .button

.CheckoutWikiText
  @extend .alert
  font-size: modular-scale(0)
  p
    margin-bottom: 0

.Container, .spx-field-container
  display: flex
  flex-direction: row
  align-items: center
  flex-wrap: wrap
  padding: 1.5 * $small-spacing 0
  label
    flex: 0 0 30%
    margin-bottom: 0
  input
    flex: 0 0 65%
    margin-bottom: 0
    font-size: modular-scale(1)
  select
    font-size: modular-scale(1)
    margin-bottom: 0
    height: 2 * modular-scale(1)
  .Input_Text
    flex: 1 1 50%
  .Button
    flex: 1 1 20%
  .right
    flex: 0 0 0
    text-align: center
    width: 0
    text-indent: -9999px
    position: relative
    &::after
      content: '*'
      display: block
      color: $yellow
      text-indent: 0
      text-align: center
      position: absolute
      width: $base-spacing
      bottom: 0
      right: 0
  .Comment
    flex: 0 0 100%
    text-align: right
    font-size: modular-scale(-1)
    color: $dark-gray

  // Ticket type selector
  &.TicketType
    border-bottom: $base-border
    label
      flex: 1 1 60%
    .Input_Text
      flex: 0 0 20%
    .price
      flex: 0 0 20%

  // Promotional codes
  &.PromoCode
    border: $base-border
    margin-top: $base-spacing
    padding: $base-spacing
    label.left
      flex: 0 0 100%
      margin-bottom: $small-spacing
    .intputText
      flex: 1 0 40%
    .Button
      margin-left: $small-spacing
      @extend .button__gray
  // Postcode
  &.Postcode
    .FindAddressButton
      margin-left: 30%
      margin-top: $small-spacing

// Login page
.LoginLogout, .ForgotPassword
  max-width: 400px
  .Container
    display: block
    .right
      display: none
    .Input_Text
      font-size: modular-scale(2)
      line-height: 2
  #ctl00_ContentPlaceHolder_NewAccountLink
    @extend .button
    @extend .button__gray

// Registration page
.NewAccount
  label.left
    text-align: right
    padding-right: $base-spacing
  .Title, .Mobile, .Line3, .Line4, .Line5
    display: none
  .DateOfBirth
    select
      flex: 1 1 25%
      margin-right: $small-spacing
    input
      flex: 1 1 15%

.RedeemVoucher
  .Button
    @extend .button__gray

.Progress
  ol
    display: flex
    flex-direction: row
    border-bottom: $base-border
    font-size: modular-scale(1)
    margin-bottom: 1.5 * $base-spacing

  li > span, li > a > span
    display: inline-block
    line-height: 2.5
    padding: 0 1.5 * $small-spacing
    font-weight: 500
    color: $dark-gray
    &.Current
      @extend %underline
      span
        color: $base-font-color
        font-weight: 700
  a
    color: $base-font-color

.spx-section-container
    margin-bottom: $base-spacing
    padding: $small-spacing $base-spacing $base-spacing
    border: $base-border
    border-color: $yellow
    .spx-link-edit
      float: right
      @extend .button
      @extend .button__gray
    .spx-button-tertiary
      @extend .button
      @extend .button__gray
    &.spx-state-read-only, &.spx-state-empty
      border: $light-border
      color: $medium-gray
      .spx-heading-headline
        color: $medium-gray