.daily-screenings--header,
.daily-screenings--navigation,
.daily-screenings--screenings {
  @extend %padded-box;
}

.daily-screenings--navigation {
  display: block;
  position: sticky;
  top: -2px;
  transform: translateZ(0);
  z-index: 99;
  @media screen and (orientation: portrait) {
    top: $header-height-portrait;
    top: calc(#{$header-height-portrait} - 2px );
  }
}

.daily-screenings--navigation--inner {
  display: flex;
  background-color: white;
  z-index: 99;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: $base-border;
  font-size: modular-scale(1);
  height: 3 * $base-spacing;
  @media screen and (min-width: $large-screen) {
    font-size: modular-scale(0);
  }
  @media screen and (orientation: portrait) {
    margin-left: -$small-spacing;
    margin-right: -$small-spacing;
    padding-left: $small-spacing;
    padding-right: $small-spacing;
    height: 2 * $base-spacing;

  }
}

.daily-screenings--navigation--link {
  color: $medium-gray;
  font-weight: 500;
  font-size: modular-scale(-1);
  position: relative;
  margin-right: $base-spacing;

  sup {
    display: none;
  }
  &:nth-child(5) {
    display: none;
  }
  @media screen and (min-width: $medium-screen) {
    // padding: 0 $small-spacing/2;
    display: inline;
    &:nth-child(5) {
      display: block;
    }
  }
  @media screen and (min-width: $large-screen) {
    margin-right: $base-spacing;
    font-size: modular-scale(0);
  }
  &:first-child {
    margin-left: $small-spacing;
    @media screen and (orientation: portrait) {
      margin-left: 0;
    }
    @media screen and (min-width: $large-screen) {
      margin-left: $base-spacing;
    }
  }
  &.current {
    color: $base-font-color;
    font-weight: 700;
    &::after {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: -$xl-border-width;
      height: $xl-border-width;
      background-color: $yellow;
    }
  }
  &:focus {
    outline-offset: 0;
    outline-color: $yellow;
    background-color: $yellow;
    color: $base-font-color;
  }
}

.daily-screenings--navigation--view-all {
  margin-left: auto;
  font-size: modular-scale(-1);
  @media screen and (min-width: $large-screen) {
    font-size: modular-scale(0);
  }
  &:focus {
    outline: none;
  }
}

.daily-screenings--screenings {
  margin-bottom: 4 * $base-spacing;
  .alert {
    @media screen and (orientation: portrait) {
      margin: $base-spacing $base-spacing;
    }
  }
}

.daily-screenings--navigation--arrow {
  font-size: modular-scale(5);
  font-weight: 500;
  padding: $small-spacing;
  @media screen and (orientation: portrait) {
    padding: $base-spacing;
  }
  line-height: 0;
  &.disabled {
    color: $light-gray;
    &:hover {
      color: $light-gray;
    }
  }
  &:hover {
    color: $base-font-color;
  }
}

.daily-screenings--entries {
  text-transform: uppercase;
  font-size: modular-scale(-1);
  border-top: $light-border;
  @media screen and (orientation: portrait) {
    border-top: none;
  }
}

.daily-screenings--entry {
  display: flex;
  -webkit-tap-highlight-color: $yellow;
  padding: $base-spacing 0;
  color: $base-font-color;
  border-bottom: $light-border;
  line-height: $base-line-height;
  @media screen and (min-width: $large-screen) {
    padding: 1.5 * $base-spacing 0;
  }
  &:last-child {
    border-bottom: $base-border;
  }
  &:hover, &:focus {
    color: $base-font-color;
    &::after {
      color: $yellow;
    }
    .daily-screenings--entry--title-inner {
      @extend %underline;
    }
  }
  &:focus {
    outline: 1px solid $yellow;
    outline-offset: 0px;
  }
  .label {
    font-size: modular-scale(-1);
  }
  // &::after {
  //   font-size: modular-scale(5);
  //   align-self: center;
  //   content: '»';
  //   color: $light-gray;
  //   line-height: 0;
  //   opacity: .5;
  //   margin-left: auto;
  //   padding-right: $small-spacing;
  //   @media screen and (min-width: $medium-screen) {
  //     display: none;
  //   }
  //   @media screen and (orientation: portrait) {
  //     padding-right: $base-spacing;
  //   }
  // }
}


.daily-screenings--entry--date {
  flex: 0 0 22.5%;
  font-family: $heading-font-family;
  line-height: .8;
  font-style: italic;
  font-weight: 400;
  text-transform: lowercase;
  padding-left: 0;
  font-size: modular-scale(2);
  @media screen and (min-width: $medium-screen) {
    padding-left: $small-spacing;
    font-size: modular-scale(3);
  }
  @media screen and (min-width: $large-screen) {
    padding-left: $base-spacing;
  }
}

.daily-screenings--entry--text {
  margin-right: $small-spacing;
  flex-grow: 1;
  @media screen and (min-width: $medium-screen) {
    margin-right: $base-spacing;
  }
  @media screen and (min-width: $large-screen) {
    margin-right: 2 * $base-spacing;
  }
}

.daily-screenings--entry--image {
  flex: 0 0 30%;
  @media screen and (min-width: $medium-screen) {

  }
  img {
    display: block;
  }
}


.daily-screenings--entry--title {
  font-weight: 700;
  margin-bottom: $small-spacing;
  font-size: modular-scale(2);
  @media screen and (min-width: $medium-screen) {
    font-size: modular-scale(3);
  }
}

.daily-screenings--entry--title-inner {
  position: relative;
  // &::after {
  //   transition: opacity $base-duration $base-timing;
  //   position: absolute;
  //   opacity: 0;
  //   content: '';
  //   left: 0;
  //   right: 0;
  //   height: $small-spacing/2;
  //   bottom: -$xl-border-width;
  //   height: $xl-border-width;
  //   background-color: $yellow;
  // }
}

.daily-screenings--entry--description {
  font-size: modular-scale(-1);
  color: $medium-gray;
  @media (orientation: portrait) {
    display: none;
  }

}

.daily-screenings--entry--certificate {
  font-size: modular-scale(-3);
  display: inline-block;
  font-weight: 400;
  color: $medium-gray;

}

.daily-screenings--entry--labels {
  padding-left: $small-spacing;
  display: inline-block;
}
