.single-listing--image {
  height: 35vw;
  width: 100%;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0,0,0,.25);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.25), rgba(0,0,0,0) 50%, rgba(0,0,0,.25) 100%);
  }
}

.single-listing--header--img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
}

.single-listing--heading,
.single-listing--content {
  display: flex;
  flex-direction: column;
  @media (orientation: landscape) {
    flex-direction: row;
  }
}

.single-listing--content {
  margin-bottom: 1.5 * $base-spacing;
  h3:not(:first-child) {
    margin-top: $base-spacing;
  }
}

.single-listing--text {
  flex: 0 0 50%;
  @media (orientation: landscape) {
    margin-right: auto;
  }
  @media (min-width: $large-screen) {
    flex: 0 0 45%;
  }

}

.single-listing--heading > div {
  margin-top: 2 * $base-spacing;
  margin-bottom: 2 * $base-spacing;
  padding-bottom: $base-spacing;
  border-bottom: $base-border;
}

.single-listing--title {
  font-size: modular-scale(6);
  font-style: italic;
  font-family: $heading-font-family;
  letter-spacing: 0;
  margin-bottom: 0;
}

.single-listing--subtitle {
  font-size: modular-scale(1);
  color: $yellow;
  font-weight: 500;
  margin-top: $base-spacing/2;
}

.single-listing--alt-language-title {
  font-size: modular-scale(3);
  color: $medium-gray;
  line-height: $heading-line-height;
  + .single-listing--meta {
    margin-top: $small-spacing;
  }
}

.single-listing--meta {
  color: $medium-gray;
  margin-top: $small-spacing/2;
  font-size: modular-scale(-1);
  > * {
    margin-right: $small-spacing/2;
  }
}

.single-listing--strand {
  margin-top: $small-spacing;
}

.single-listing--text--footer {
  border-top: $base-border;
  padding-top: 1.5 * $base-spacing;
  margin-top: 1.5 * $base-spacing;
  table {
    table-layout: auto;
    margin: 0;
  }
  td {
    border-bottom: none;
    padding: 0 0 $small-spacing;
    vertical-align: top;
    &:first-child {
      padding-right: $base-spacing;
      font-weight: 700;
    }
    &:last-child {
      width: 100%;
      font-size: modular-scale(-1);
    }
  }
}

.single-listing--screenings {
  position: relative;
  order: -1;
  margin-bottom: $base-spacing;
  @media (orientation: landscape) {
    margin-bottom: 0;
    order: initial;
    margin-left: 2 * $base-spacing;
    flex: 0 0 50%;
  }
  @media (min-width: $large-screen) {
    flex: 0 0 40%;
    margin-left: 0;
  }
  td {
    border-bottom: $light-border;
    padding: $small-spacing/2 0;
  }
  table {
    margin: 0;
    width: 100%;
    margin-bottom: $small-spacing;
    table-layout: auto;
    td:last-child {
      // text-align: right;
    }
    td:first-child {
      font-weight: 600;
      padding-right: $base-spacing/2;
      font-size: modular-scale(-1);
    }
    tr:last-child td {
      // border-bottom: none;
    }
  }
  .label {
    font-size: modular-scale(-1);
  }
  .initial-rows {
    tr:first-child td {
      border-top: $light-border;
    }
  }
  .hidden-rows {
    display: none;
    tr:first-child td {
      border-top: $light-border;
    }
    &.shown {
      display: table-row-group;
    }
  }

}

.listings--screenings--book {
  text-align: center;
  display: inline-block;
  + .listings--screenings--book {
    margin-left: $small-spacing/2;
    @media screen and (orientation: portrait) {
      margin-left: $small-spacing/4
    }
  }
}


.single-listing--screenings--header {
  margin-bottom: $base-spacing;
}
