.single-listing--trailer {
  position: relative;
  &::after {
    content: '';
    background-color: rgba(0,0,0,.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 999;
    transition: opacity 5 * $base-duration;
  }
  &.lights-out {
    &::after {
      bottom: 0;
      opacity: 1;
    }
    .single-listing--trailer--iframe {
      transform: translate(-50%,-50%);
      opacity: 1;
      z-index: 9999;
      transition: opacity 5 * $base-duration 5 * $base-duration, transform 5 * $base-duration 5 * $base-duration;

    }
    .trailer-button {
      position: fixed;
      bottom: $small-spacing/2;
      z-index: 99999;
    }
  }
}

.single-listing--trailer--iframe {
  z-index: -999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-30%);
  opacity: 0;
  transition: none;
}

.trailer-button {
  color: white;
  text-transform: lowercase;
  font-weight: 700;
  position: absolute;
  font-size: modular-scale(1);
  z-index: 9;
  right: $small-spacing;
  padding: 0;
  text-shadow: 0 0 2em $black;
  &:hover {
    background-color: transparent;
    @extend %underline_simple;
  }
  @media screen and (min-width: $medium-screen) {
    right: $base-spacing;
  }
  @media screen and (min-width: $large-screen) {
    right: 1.5 * $base-spacing;
  }
  bottom: $base-spacing;
  visibility: hidden;
  &.loaded {
    visibility: visible;
  }
  &.play::after {
    margin-left: $small-spacing/2;
    content: '\25BA';
    display: inline-block;
    color: $yellow;
    font-size: modular-scale(1);
    vertical-align: middle;
  }
}