.single-listing--image {
  //height: 56.25vw;
  height: 75vw;
  @media (min-width: $medium-screen) {
    height: 35vw;
  }
  width: 100%;
  background-color: $base-font-color;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.9), rgba(0,0,0,0) 35%, rgba(0,0,0,0) 67%, rgba(0,0,0,.5) 100%);
    @media (min-width: $medium-screen) {
      background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 67%, rgba(0,0,0,.5) 100%);
    }
  }
}

.single-listing--header--img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
}

.single-listing--header--trailer {
  position: absolute;
  top: 3em;
  left: 3em;
}

.single-listing--heading,
.single-listing--content {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $large-screen) {
    flex-direction: row;
  }
}

.single-listing--content {
  margin-bottom: 1.5 * $base-spacing;
  h3:not(:first-child) {
    margin-top: $base-spacing;
  }
}

.single-listing--text {

  margin-left: -$small-spacing;
  margin-right: -$small-spacing;
  padding-left: $small-spacing;
  padding-right: $small-spacing;

  @media (min-width: $medium-screen) {
    flex: 0 0 50%;
    margin: 0;
    padding: 0
  }

  &__centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.single-listing--heading > div {
  margin-top: $base-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-top: 2 * $base-spacing;
  }
  margin-bottom: 1.5 * $base-spacing;
  padding-bottom: $base-spacing;
  border-bottom: $base-border;
}

.single-listing--title {
  font-size: modular-scale(6);
  font-weight: 400;
  font-style: italic;
  font-family: $heading-font-family;
  margin-bottom: 0;
}

.single-listing--description {
  margin-top: $base-spacing;
  >*:last-child {
    margin-bottom: 0;
  }
}

.single-listing--subtitle {
  font-size: modular-scale(1);
  margin-top: $base-spacing/2;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-style: italic;
  letter-spacing: $base-letter-spacing/2;
  &:empty {
    visibility: hidden;
  }
  &::before {
    content: '';
    width: $base-spacing/3;
    height: $base-spacing/3;
    background-color: $yellow;
    display: inline-block;
    margin-right: $small-spacing/3;
  }
}

.single-listing--alt-language-title {
  font-size: modular-scale(3);
  -webkit-font-smoothing: antialiased;
  color: $medium-gray;
  line-height: $heading-line-height;
  + .single-listing--meta {
    margin-top: $small-spacing;
  }
}

.single-listing--meta {
  color: $dark-gray;
  @media (min-width: $large-screen) {
    // margin-top: $small-spacing/2;
  }
  font-size: modular-scale(-1);
  > * {
    margin-right: $small-spacing/2;
  }
}

.single-listing--strand {
  margin-bottom: $small-spacing/2;
}

.single-listing--strand-details,
.single-listing--season-details {
  display: block;
  color: inherit;
  padding: $small-spacing $base-spacing;
  margin-top: $base-spacing;
  font-size: modular-scale(-1);
  border: $base-border;
  border-color: transparentize($black,.85);
  position: relative;

  &::after {
    content: '»';
    display: block;
    position: absolute;
    right: 1.5 * $base-spacing;
    font-size: modular-scale(5);
    top: 50%;
    transform: translateY(-55%);
    line-height: 2 * $base-spacing;
  }
  + .single-listing--strand-details,
  + .single-listing--season-details {
    margin-top: $small-spacing;
  }
  &:hover {
    color: inherit;
  }
  > * {
    max-width: 85%;
  }
  &.dark-bg {
    color: white;
    .single-listing--strand-heading {
      color: white;
    }
    &::after {
      color: white;
    }
  }
}

.single-listing--strand-heading,
.single-listing--season-heading, {
  text-transform: uppercase;
  margin-bottom: $small-spacing;
  font-weight: 500;
}

.single-listing--strand-callout,
.single-listing--season-callout {
  margin-top: $small-spacing/2;
}


.single-listing--text--footer {
  border-top: $light-border;
  padding-top: 1.5 * $base-spacing;
  margin-top: 1.5 * $base-spacing;
  table {
    table-layout: auto;
    margin: 0;
  }
  td {
    border-bottom: none;
    padding: 0 0 $small-spacing;
    vertical-align: top;
    font-size: modular-scale(-1);

    &:first-child {
      padding-right: $base-spacing;
      font-weight: 500;
      white-space: nowrap;
    }
    &:last-child {
      width: 100%;
      line-height: $base-spacing;
    }
  }
}