.az-listings--listings {
  margin-top: $base-spacing;
  @media screen and (orientation: portrait) {
    margin-top: 0;
  }
}
.az-listings--inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 (-$small-spacing) $base-spacing;
  @media screen and (min-width: $large-screen) {
    margin: 0 (-$base-spacing) $base-spacing;
  }
  @media screen and (orientation: portrait) {
    margin: 0;
    display: block;
  }
}

.az-listings--entry {
  flex: 0 1 auto;
  display: flex;
  color: $base-font-color;
  flex-direction: row;
  padding: $small-spacing 0;
  border-bottom: $light-border;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-left: -$small-spacing;
  margin-right: -$small-spacing;
  padding-left: $small-spacing;
  padding-right: $small-spacing;

  @media screen and (min-width: $medium-screen) {
    width: 50%;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $base-spacing;
  }
  @media screen and (min-width: $large-screen) {
    width: 33.333%;
    padding: 0 $base-spacing;
    margin-bottom: 2 * $base-spacing;
  }

  &:hover, &:focus {
    outline: none;
    color: $base-font-color;
    .az-listings--entry--title--inner {
      @extend %underline;
    }
  }
}

.az-listings--entry--image {
  flex: 0 0 auto;
  width: 27.5%;
  margin-bottom: 0;
  margin-right: $small-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-bottom: $small-spacing;
    margin-right: 0;
    width: 100%;

  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.az-listings--entry--header {
  min-height: 2 * $heading-line-height * 1em;
  font-size: modular-scale(1);
  margin-bottom: 0;
  margin-bottom: $small-spacing/2;

  @media screen and (min-width: $medium-screen) {
    font-size: modular-scale(2);
    margin-bottom: $small-spacing;

  }
  @media screen and (orientation: portrait) {
    min-height: initial;
    margin-bottom: 0;
  }
}

.az-listings--entry--title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: modular-scale(0);
  margin-top: $small-spacing/2;
  @media screen and (min-width: $medium-screen) {
    margin-top: $small-spacing;
  }

}

.az-listings--entry--subtitle {
  font-weight: 500;
  color: $yellow;
  line-height: $heading-line-height;
  font-size: modular-scale(-1);
}

.az-listings--entry--description {
  font-size: modular-scale(-1);
  color: $medium-gray;
  @media screen and (orientation: portrait) {
    display: none;
  }
}


.az-listings--entry--title--inner {
  position: relative;
  display: inline;
}

.az-listings--entry--date {
  margin-top: $small-spacing/2;
  margin-bottom: $small-spacing;
  font-weight: 500;
  font-size: modular-scale(-1);
  min-height: modular-scale(-1) * $base-line-height;
}

.az-listings--entry--certificate {
  font-size: modular-scale(-4);
  display: inline-block;
  font-weight: 400;
  color: $medium-gray;
}

.az-listings--entry--footer {
  margin-top: auto;
  padding-top: $small-spacing/2;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: modular-scale(-2);
  @media (orientation: portrait) {
    display: none;
  }
  * + * {
    margin-left: $small-spacing/2;
  }
}