.listings-navigation {
  padding: $small-spacing 0;
  margin-bottom: $base-spacing;
  &::after {
    position: absolute;
    width: 100%;
    height: 1.1px;
    background-color: $light-gray;
    content: '';
    bottom: 1px;
    left: 0;

  }
  display: flex;
  height: 3 * $base-spacing;
  align-items: center;
  flex-direction: row;
  background-color: white;
  position: sticky;
  top: -2px;
  transform: translateZ(0);
  z-index: 99;
  @media screen and (orientation: portrait) {
    top: 2.5 * $base-spacing;
    top: calc(#{2.5 * $base-spacing} - 2px );
  }
  a {
    display: inline-block;
    margin-left: $base-spacing;
    color: $medium-gray;
    font-weight: 700;
    font-size: modular-scale(0);
    -webkit-font-smoothing: antialiased;
    &.current {
      @extend %underline;
    }
    &.current, &:hover {
      color: $base-font-color;

    }
  }
  .weekly-screenings--navigation {
    margin-left: auto;
    position: relative;
  }




  .weekly-screenings--week-picker {
    display: none;
    top: 100%;
    margin-top: $small-spacing;
    right: 0;
    width: 16em;
    width: max-content;
    position: absolute;
    z-index: 99;
    background-color: white;
    box-shadow: $base-shadow;
    &.visible {
      display: block;
    }
  }

  .weekly-screenings--week-picker--date {
    display: block;
    font-size: modular-scale(0);
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 500;
    margin: $small-spacing $base-spacing;
    float: right;
    clear: both;
    &.current {
      font-weight: 700;
    }

  }

  .weekly-screenings--navigation--trigger {
    font-size: modular-scale(0);
    &::after {
      content: '▾';
      display: inline-block;
      padding-left: $small-spacing/4;
    }
  }
}

