.site-footer--navigation {
  display: none;
  .hpph-logo {
    display: none;
  }
  @media (max-width: $medium-screen) {
    display: block;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    // height: 3.5 * $base-spacing;
    background-color: $base-font-color;
    padding: $small-spacing/1.5 $small-spacing;
    color: white;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

  }
  svg {
    width: 1.5 * $base-spacing;
    height: 1.5 * $base-spacing;

    // margin-bottom: $small-spacing/4;
  }
  .site-footer--navigation--link {
    text-align: center;
    flex: 0 0 25%;
    color: white;
    text-transform: uppercase;
    font-size: modular-scale(-1);
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    &.current, &.open {
      color: $yellow;
      svg * {
        stroke: $yellow;
      }
    }
  }
  &.nav-open .site-footer--navigation--link.current {
    color: white;
    svg * {
      stroke: white;
    }
  }
}


.site-footer {

  .hpph-logo {
    display: none;
  }
  @media (max-width: $medium-screen) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(110%);
    position: fixed;
    top: 0;
    bottom: 3 * $base-spacing;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $black;
    transition: transform ease $base-duration;
    &.visible {
      display: flex;
      transform: translateY(0em);
      .site-footer--menu-link {
        opacity: 1;
        transform: translateY(0em);
      }
      .site-footer--menu-item {
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) .site-footer--menu-link {
            transition-delay: $i * $base-duration
          }
        }
      }

    }
    .hpph-logo {
      width: 6 * $base-spacing;
      height: auto;
      display: block;
      margin: $base-spacing auto 0;
      .picture-house {
        fill: white
      }
    }
  }
}

.site-footer--primary {
  position: relative;
  margin-bottom: auto;
  flex: 1 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  @media (min-width: $medium-screen) {
    display: block;
    text-align: left;
    margin-bottom: 0;
    padding: 2 * $base-spacing 0;
    background-color: $black;
  }
  color: white;
  > .container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $medium-screen) {
      align-items: flex-start;
      flex-direction: row;
    }
    > div + div {
      margin-right: 0;
      @media screen and (min-width: $medium-screen) {
        margin-left: auto;
        margin-right: 2 * $base-spacing;
        &:last-child {
          margin-left: 0;
          margin-right: 0;
        }
      }

    }
  }
}

.site-footer--header {
  color: white;
  line-height: 1.5 * $base-spacing;
  display: none;
  @media (min-width: $medium-screen) {
    display: block;
  }

}

.site-footer--contact {
  flex: 0 0 auto;
  order: 99;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  @media screen and (min-width: $medium-screen) {
    flex: 0 0 30%;
    margin-top: 0;
    order: 0;
    text-align: left;
    margin-right: auto;
  }
}


.site-footer--menu {
  margin-top: auto;
  margin-bottom: auto;
  flex: 0 0 30%;

  @media (min-width: $medium-screen) {
    column-count: 2;
    column-gap: $base-spacing;
    margin-top: 0;
  }
}


.site-footer--strapline {
  font-family: $heading-font-family;
  line-height: $tight-heading-line-height;
  color: white;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: modular-scale(3);
  span {
    text-transform: none;
    font-size: modular-scale(-2);
  }
  display: none;
  @media (min-width: $medium-screen) {
    display: block;
  }
}

.site-footer--contact-info {
  font-family: $heading-font-family;
  letter-spacing: 0;
  font-style: italic;
  margin-bottom: 0;
  li {
    display: inline-block;
    &:first-child {
      display: block;
    }
    &:last-child {
      margin-left: $small-spacing/2;
    }
    @media (min-width: $medium-screen) {
      display: block;
      margin-left: 0 !important;
    }
  }
}

.site-footer--menu-link {
  color: white;
  display: block;
  line-height: 1.75 * $base-spacing;
  font-size: modular-scale(1);
  font-weight: 500;
  opacity: 0;
  transition: opacity $base-duration*3 $base-timing, transform $base-duration*3 $base-timing;
  transform: translateY(1em);

  @media (min-width: $medium-screen) {
    opacity: 1;
    transform: translateY(0em);
    font-weight: 400;
    line-height: 1.5 * $base-spacing;
    font-size: modular-scale(-1);
  }
  text-transform: lowercase;
}



.site-footer--secondary {
  padding: $small-spacing 0;
  @media (min-width: $medium-screen) {
      background-color: $yellow;
      padding: $small-spacing 0;
  }
  letter-spacing: 0.025em;
  svg  {
    width: 100%;
    display: block;
    * {
      fill: white;
      @media (min-width: $medium-screen) {
        fill: $base-font-color;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media (min-width: $medium-screen) {
      flex-wrap: nowrap;

    }
    li {
      flex: 0 1 16%;
      position: relative;
      @media (min-width: $medium-screen) {
        flex: 0 1 18%;
      }
      margin: 0;
      + li {
        margin-left: $base-spacing/2;
        @media (min-width: $medium-screen) {
          margin-left: $small-spacing;
        }
        @media (min-width: $large-screen) {
          margin-left: 1.5 * $base-spacing;
        }
      }
      @media (max-width: $medium-screen) {
        &:nth-child(3) {
          margin-left: 0;
        }
      }

      &.spacer {
        display: none;
        @media (min-width: $medium-screen) {
          display: block;
        }
      }
      &.andahalf {
        flex-basis: 23%;
        @media (min-width: $medium-screen) {
          flex-basis: 23%;
        }
      }
      &.double {
        flex-basis: 100%;
        order: 999;
        padding-top: $small-spacing/2  ;
        padding-left: $base-spacing;
        padding-right: $base-spacing;
        text-align: center;
        font-size: modular-scale(-1);
        color: white;
        -webkit-font-smoothing: antialiased;
        @media (min-width: $medium-screen) {
          text-align: left;
          color: $base-font-color;
          padding-top: 0;
          flex-basis: 50%;
          order: 0;
          padding-left: 0;
          padding-right: 0;
        }
        p {
          font-size: modular-scale(-1);
          font-weight: 500;
          margin-bottom: $small-spacing/4;
          line-height: $heading-line-height;
          display: inline;
          @media (min-width: $medium-screen) {
            display: block;
            line-height: $base-line-height;
          }
          &:last-child {
            margin-bottom: 0;
            font-weight: 700;
          }
        }
      }
    }
  }
}