.site-footer {
  position: relative;
  background-color: $base-font-color;
  height: 1.5 * $base-spacing;
  color: white;
  flex: 0 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $small-spacing;
  @media screen and (orientation: portrait) {
    padding: $small-spacing $base-spacing;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media screen and (min-width: $large-screen) {
    padding: $small-spacing 2 * $base-spacing;
  }
  @media screen and (min-width: $xl-screen) {
    padding: $small-spacing 3 * $base-spacing;
  }
  .contact-info {
    margin-bottom: 0;
    li {
      float: left;
      margin-right: $base-spacing;
    }
  }
}

.footer-button {
  font-size: modular-scale(-1);
  line-height: .8em;
  padding-top: .95em;
}

.listings--footer--contact {
  font-size: modular-scale(-2);
}