.site-footer {
  padding: 3 * $base-spacing 0;
  position: relative;
  background-color: $black;
  color: white;
  > .container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (orientation: portrait) {
      flex-wrap: wrap;
    }
    > div + div {
      margin-right: auto;
      @media screen and (orientation: landscape) {
        margin-left: $base-spacing;
        @media screen and (min-width: $large-screen) {
          margin-left: 3 * $base-spacing;
        }
      }

    }
  }
}

.site-footer--header {
  color: white;
  line-height: 1.5 * $base-spacing;
}

.site-footer--contact {
  flex: 0 0 30%;
  margin-right: auto;
  @media screen and (orientation: portrait) {
    flex: 0 0 100%;
    margin-top: 2 * $base-spacing;
    order: 3;
  }
}



.site-footer--strapline {
  font-family: $heading-font-family;
  color: white;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: modular-scale(3);
  span {
    text-transform: none;
    font-size: modular-scale(-2);
  }
}

.site-footer--contact-info {
  font-size: modular-scale(1);
  font-family: $heading-font-family;
  letter-spacing: 0;
  font-style: italic;
  margin-bottom: 0;
  li {
  }
}

.site-footer--menu-link {
  color: white;
  line-height: 1.5 * $base-spacing;
  font-size: modular-scale(-1);
  text-transform: lowercase;
}
