.site-header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 9;
  border-bottom: $base-border;
  padding: $small-spacing;
  height: 2.5 * $base-spacing;
  box-sizing: border-box;
  @media screen and (orientation: portrait) {
    padding: $small-spacing $base-spacing;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  @media screen and (min-width: $large-screen) {
    padding: $small-spacing 2 * $base-spacing;
  }
  @media screen and (min-width: $xl-screen) {
    padding: $small-spacing 3 * $base-spacing;
  }
  .site-header--home-link {
    margin-right: auto;
  }
  .hpph-logo {
    display: block;
    width: auto;
    margin: 0;
    height: 1.25 * $base-spacing;
  }
}


.site-header--book-button {
  font-size: modular-scale(-1);
  line-height: .8em;
  padding-top: .95em;
  margin-left: $small-spacing;
  @media screen and (orientation: landscape) {
    margin-left: $base-spacing;
  }
}


.skip-to-main-content {
  position: fixed;
  display: inline-block;
  background-color: white;
  font-weight: 700;
  padding: $small-spacing;
  top: 0;
  border: $thick-border;
  left: -9999px;
  &:focus {
    left: 0;
  }
}