.label {
  display: inline-block;
  line-height: $heading-line-height;
  padding: 0 .3em;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid $medium-gray;
}


.label{
  color: $base-font-color;
  // &--tuesday-wonder {
  //   background-color: $tuesday-wonder;
  // }
  // &--byobaby {
  //   background-color: $byo-baby;
  // }
  // &--creatures-of-the-night {
  //   background-color: $creatures;
  //   color: white;
  //   -webkit-font-smoothing: antialiased;
  // }
  // &--hyde-seek {
  //   background-color: $hide-seek;
  // }
  // &--memory-matinee {
  //   background-color: $memory-matinee;
  // }
  // &--special-films {
  //   background-color: $special-films;
  // }
  // &--pavillion-presents {
  //   background-color: $pavillion-presents;
  // }
  // &--captioned {
  //   background-color: $captioned;
  //   color: white;
  // }
  // &--autism-friendly {
  //   background-color: $autism-friendly;
  // }
  // &--bollywood {
  //   background-color: $bollywood;
  //
  // }
}