.disclaimer {
  font-size: modular-scale(-2);
  border-top: $base-border;
  padding: $small-spacing;
  display: none;
  position: relative;

  @media screen and (orientation: portrait) {
    padding: $small-spacing 1.5 * $base-spacing;
    display: block;
  }
  @media screen and (min-width: $large-screen) {
    display: block;
    padding: $base-spacing 1 * $base-spacing;
  }
  text-align: center;
}
.disclaimer-close {
  height: 1 * $base-spacing;
  width: 1 * $base-spacing;
  border-radius: 50%;
  background-color: $light-gray;
  color: $medium-gray;
  font-weight: 400;
  padding: 0;
  position: absolute;
  top: 50%;
  right: .25 * $base-spacing;
  @media screen and (min-width: $large-screen) {
    display: none;
  }
  transform: translateY(-50%);
  font-size: modular-scale(2);
}