.weekly-screenings--content {
  background-color: #fff;
  z-index: 9;
  flex: 1 1 auto;
  overflow: auto;
  @media screen and (orientation: portrait) {
    overflow: visible;
  }
}

.weekly-screenings--header,
.weekly-screenings--navigation,
.weekly-screenings--screenings {
  padding: 0 $small-spacing;
  @media screen and (orientation: portrait) {
    padding: 0 0;
  }
  @media screen and (min-width: $large-screen) {
    padding: 0 2 * $base-spacing;
  }
  @media screen and (min-width: $xl-screen) {
    padding: 0 4 * $base-spacing;
  }
}


.weekly-screenings--title {
  font-family: "Bodoni", "Times New Roman";
  line-height: $tight-heading-line-height;
  -webkit-font-smoothing: antialiased;
  font-size: modular-scale(5);
  text-transform: uppercase;
  font-weight: 900;
  margin: $base-spacing 0;
  color: $base-font-color;
  font-weight: 700;
  word-spacing: 9999px;
  margin: 2 * $base-spacing 0 $base-spacing;
  @media screen and (orientation: portrait) {
    display: none;
  }
  @media screen and (min-width: $large-screen) {
    font-size: modular-scale(6);
  }
  span {
    color: $yellow;
    word-spacing: 0;
    span {
      color: $base-font-color;

      text-transform: none;
      font-weight: 400;
      font-size: modular-scale(-5);
      font-style: italic;
      @media screen and (orientation: portrait) {
        color: white;
        font-size: modular-scale(-4);
      }
      span {
        font-style: normal;
        font-size: modular-scale(0)
      }
    }
  }
}

.weekly-screenings--navigation {
  display: block;
  position: sticky;
  top: -2px;
  transform: translateZ(0);
  z-index: 9;
  @media screen and (orientation: portrait) {
    top: 2.5 * $base-spacing;
    top: calc(#{2.5 * $base-spacing} - 2px );
  }
}

.weekly-screenings--navigation--inner {
  display: flex;
  background-color: white;
  z-index: 99;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: $base-border;
  border-bottom: $base-border;
  font-size: modular-scale(1);
  font-weight: 700;
  height: 3 * $base-spacing;
  @media screen and (min-width: $large-screen) {
    font-size: modular-scale(0);
  }
}

.weekly-screenings--screenings {
  margin-bottom: 4 * $base-spacing;
  .alert {
    @media screen and (orientation: portrait) {
      margin: $base-spacing $base-spacing;
    }
  }
}

.weekly-screenings--navigation--arrow {
  font-size: modular-scale(5);
  font-weight: 500;
  padding: $small-spacing;
  @media screen and (orientation: portrait) {
    padding: $base-spacing;
  }
  line-height: 0;
  &.disabled {
    color: $light-gray;
    &:hover {
      color: $light-gray;
    }
  }
  &:hover {
    color: $base-font-color;
  }
}


.weekly-screenings--date {
  padding: 1.5 * $base-spacing 0 $small-spacing;
  margin-bottom: 0;
  font-size: modular-scale(0);
  text-transform: uppercase;
  padding-left: $small-spacing;
  @media screen and (orientation: portrait) {
    padding-left: $base-spacing;
    background-color: $off-white;
    border-top: $base-border;
    font-size: modular-scale(1);
    &:first-child {
      border-top: none;
    }
  }
  @media screen and (min-width: $large-screen) {
    padding-left: 0;
  }

}


.weekly-screenings--entries {
  text-transform: uppercase;
  font-size: modular-scale(-1);
  border-top: $light-border;
  @media screen and (orientation: portrait) {
    border-top: none;
  }
}

.weekly-screenings--entry--title {
  font-weight: 700;
}


.weekly-screenings--entry--certificate {
  font-size: modular-scale(-1);
  display: inline-block;
  margin-left: $small-spacing/2;
}

.weekly-screenings--entry {
  display: flex;
  -webkit-tap-highlight-color: $yellow;
  padding: $base-spacing 0;
  color: $base-font-color;
  border-bottom: $light-border;
  line-height: $base-line-height;
  @media screen and (min-width: $large-screen) {
    padding: $small-spacing 0;
  }
  &:hover {
    &::after {
      color: $yellow;
    }
  }
  &:focus {
    outline: 1px solid $yellow;
    outline-offset: 0px;
  }
  .label {
    font-size: modular-scale(-1);
  }
  &::after {
    font-size: modular-scale(5);
    align-self: center;
    content: '»';
    color: $light-gray;
    line-height: 0;
    opacity: .5;
    margin-left: auto;
    padding-right: $small-spacing;
    @media screen and (orientation: portrait) {
      padding-right: $base-spacing;
    }
  }
}

.weekly-screenings--entry--labels {
  padding-left: $small-spacing;
  display: inline-block;
}

.weekly-screenings--entry--date {
  flex: 0 0;
  width: 3.75 * $base-spacing;
  box-sizing: content-box;
  padding-right: $small-spacing;
  padding-left: $small-spacing;
  @media screen and (orientation: portrait) {
    padding-left: $base-spacing;
  }
  @media screen and (min-width: $large-screen) {
    padding-left: 0;
  }
}
