
.weekly-screenings--header,
.weekly-screenings--navigation,
.weekly-screenings--screenings {
  padding: 0 $small-spacing;
  @media screen and (orientation: portrait) {
    padding: 0 0;
  }
  @media screen and (min-width: $large-screen) {
    padding: 0 2 * $base-spacing;
  }
  @media screen and (min-width: $xl-screen) {
    padding: 0 4 * $base-spacing;
  }
}
