.header--social {
  z-index: 9;
  height: $base-spacing;
  @media screen and (orientation: portrait) {
    height: .75 * $base-spacing;
  }
  flex: 0 0 auto;
  li {
    display: inline-block;
    margin-left: $small-spacing/3;
  }
  a {
    display: block;
    position: relative;
    width: .75 * $base-spacing;
    height: .75 * $base-spacing;
    &:hover {
      svg * {
        fill: $yellow;
      }
    }
  }
  svg {
    display: block;
    height: 100%;
    width: auto;
    * {
      transition: fill $base-duration;
    }

  }
}