.header--social {
  z-index: 9;
  flex: 0 0 auto;
  margin-top: $base-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-top: auto;
  }
  li {
    display: inline-block;
    margin-left: $small-spacing;
    &:first-child {
      margin-left: 0;
    }
    @media screen and (min-width: $medium-screen) {
      margin-left: $small-spacing/3;
    }
  }
  a {
    display: block;
    position: relative;
    width: $base-spacing;
    height: $base-spacing;
    @media screen and (min-width: $medium-screen) {
      width: .75 * $base-spacing;
      height: .75 * $base-spacing;
    }
    &:hover {
      svg * {
        fill: $yellow;
      }
    }
  }
  svg {
    display: block;
    height: 100%;
    width: 100%;
    * {
      fill: white;
      transition: fill $base-duration;
    }

  }
}