.pick--item {
  padding-bottom: 1.5 * $base-spacing;
  margin-bottom: 2 * $base-spacing;
  border-bottom: $light-border;
}

.pick--header {
  margin-top: 0 !important;

  a {
    text-decoration: none;
    font-weight: 700;
    &::before {
      content: none !important;
    }
  }
}

.pick--author {
  margin-top: -$small-spacing;
  margin-bottom: $base-spacing;
  font-style: italic;
}

.pick--image {
  width: 100%;
  height: auto;
}

.pick--date {
  margin-top: $base-spacing;
  margin-bottom: $small-spacing;
}

.pick--extended {
  max-height: 0;
  overflow: hidden;
  transition: max-height 3 * $base-duration $base-timing, opacity 3 * $base-duration $base-timing;
  opacity: 0;

  &.expanded {
    max-height: 1200px;
    opacity: 1;
    overflow: auto;
  }
}