.section--home-membership {
  padding: 4 * $base-spacing 0;
  position: relative;
  text-align: center;
  color: white;
  position: relative;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $medium-screen) {
    display: block;
    height: auto;
  }
  // overflow: hidden;
  .container {
    position: relative;
    z-index: 99;
    max-width: $medium-screen;
  }
  &--image {
    position: absolute;
    max-width: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
  }
  a {
    color: inherit;
  }
  &::after {
    content: '';
    display: block;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
  }
  .section-title {
    font-size: modular-scale(5);
    margin-bottom: $base-spacing;
    &::after {
      content: '';
      width: 33%;
      height: $xl-border-width;
      background-color: white;
      display: block;
      margin: $base-spacing auto $base-spacing;
    }
  }
  p {
    font-size: modular-scale(0);
  }
}