.section--home-newsletter {
  padding: 3 * $base-spacing 0;
  position: relative;
  // overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .container {
    position: relative;
    width: 100%;
  }

  &--text {
    @extend %padded-box;

    padding-top: 7  * $base-spacing;
    padding-bottom: 2 * $base-spacing;
    background-color: $off-white;
    text-align: center;
    padding-left: $base-spacing;
    padding-right: $base-spacing;

    @media screen and (min-width: $large-screen) {
      padding-left: 4 * $base-spacing;
      padding-right: 40%;
    }

    @media screen and (min-width: $medium-screen) {
      padding-top: 2.5 * $base-spacing;
      text-align: left;
      padding-right: 50%;
    }

    form {

    }
  }

  &--image {
    z-index: 9;
    width: 12 * $base-spacing;
    max-width: 80%;
    height: auto;
    display: block;
    border-radius: 9999px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -6 * $base-spacing;

    @media screen and (min-width: $medium-screen) {
      margin-bottom: 0;
      top: 50%;
      transform: translateY(-50%);
      right: $small-spacing;
      position: absolute;
      width: auto;
      max-width: 40%;
      max-height: calc(100% + #{$base-spacing});
    }

    @media screen and (min-width: $xl-screen) {
      max-height: calc(100% + #{2 * $base-spacing});
      right: 0;
    }
  }

  .section-title {

    @media screen and (min-width: $medium-screen) {
      text-align: left;
    }

    margin-top: 0;
    font-size: modular-scale(6);
    margin-bottom: $base-spacing;
    font-family: $base-font-family;
    line-height: 1.1;
    font-weight: 700;
    font-style: normal;
  }

  p {
    // font-size: modular-scale(1);
    font-weight: 500;
    // max-width: 22em;
    margin-bottom: $base-spacing;
    -webkit-font-smoothing: antialiased;
    letter-spacing: $base-letter-spacing*0.5;
  }

  label {
    width: 10em;
    margin-right: $small-spacing;
  }

  input {
    line-height: 1.5em;
    // max-width: 16em;
    &[type='submit'] {
      width: 15em;
      margin-bottom: $small-spacing;
    }
  }

  .button {
    text-transform: lowercase;
  }
}