.section--home-newsletter {
  padding: 4 * $base-spacing 0;
  position: relative;
  // overflow: hidden;
  text-align: right;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: calc(100vh - #{2 * $base-spacing});
  @media screen and (min-width: $medium-screen) {
    // display: block;
    // height: auto;
    // height: calc(100vh - #{4 * $base-spacing});
  }
  .container {
    position: relative;
    width: 100%;
    z-index: 99;
  }
  .section--home-newsletter--text {
    @extend %padded-box;
    @media screen and (min-width: $medium-screen) {
      width: 50%;
      max-width: 35em;
      padding-left: 0;
      margin-left: auto;
    }
  }
  &--image {
    position: absolute;
    max-width: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
  }
  &::after {
    content: '';
    display: block;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background-color: rgba(0,0,0,0.25);
    background-image: linear-gradient(to right, rgba(0,0,0,.4) 40%, rgba(0,0,0,0) 80%);

  }
  .section-title {
    margin-top: 0;
    font-size: modular-scale(6);
    text-align: right;
    margin-bottom: $base-spacing;
    font-family: $base-font-family;
    line-height: 1.1;
    font-weight: 700;
    font-style: normal;
    &::after {
      content: '';
      width: 33%;
      height: $xl-border-width;
      background-color: white;
      display: block;
      margin: $base-spacing 0 $base-spacing;
      margin-left: auto;
    }
  }
  p {
    font-size: modular-scale(2);
    font-weight: 400;
    font-style: italic;
    line-height: $heading-line-height;
    font-family: $heading-font-family;
    margin-bottom: $base-spacing;
    -webkit-font-smoothing: antialiased;
    letter-spacing: $base-letter-spacing/2;

  }
  .button {
    text-transform: lowercase;
  }
}