.section--home-project {
  padding: 2 * $base-spacing 0;
  margin-bottom: 2 * $base-spacing;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $large-screen) {
    display: block;
    margin-bottom: 5 * $base-spacing;
  }

  .container {
    position: relative;
    z-index: 99;
  }

  .button {
    text-transform: lowercase;
  }

  &--text {
    padding-left: $base-spacing;
    padding-right: $base-spacing;

    @extend %padded-box;

    background-color: $off-white;
    padding-top: 3 * $base-spacing;
    padding-bottom: 8 * $base-spacing;
    margin-bottom: -6 * $base-spacing;

    @media screen and (min-width: $large-screen) {
      margin-bottom: 0;
      padding-left: 2 * $base-spacing;
      padding-bottom: 3 * $base-spacing;
      padding-right: 30%;
      padding-bottom: 4 * $base-spacing;
    }
  }

  .section-title {
    margin-top: 0;
    text-align: inherit;
    margin-bottom: $small-spacing;
  }

  p {
    margin-bottom: $base-spacing;
    margin-top: $base-spacing;
    font-weight: 500;

    @media screen and (min-width: $large-screen) {
      margin-top: 2 * $base-spacing;
      max-width: 60%;
    }
  }

  &--link {
    margin-top: $small-spacing;
  }

  &--slider {
    display: block;
    margin-left: $base-spacing;
    margin-right: $base-spacing;
    width: calc(100% - #{2 * $base-spacing});

    &--inner {
      padding-top: 73.33%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        image-rendering: pixelated;

        &:not(:first-child) {
          opacity: 0;
        }
      }
    }

    @media screen and (min-width: $large-screen) {
      margin-left: 0;
      margin-right: 0;
      position: absolute !important;
      right: 4 * $base-spacing;
      width: calc(55% - #{6 * $base-spacing});
      bottom: -4 * $base-spacing;
    }
  }
}