.section--home-listings {
  background-color: white;
  padding-bottom: $base-spacing;
  position: relative;
  z-index: 9;
}

.daily-screenings--header,
.daily-screenings--navigation,
.daily-screenings--screenings {
  @extend %padded-box;
}

.daily-screenings--navigation {
  display: block;
  position: sticky;
  top: -1px;
  transform: translateZ(0);
  z-index: 99;
}

.daily-screenings--navigation--inner {
  display: flex;
  background-color: white;
  z-index: 99;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: modular-scale(1);
  position: relative;
  margin-left: -$small-spacing;
  margin-right: -$small-spacing;
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  height: 2 * $base-spacing;

  @media screen and (min-width: $medium-screen) {
    height: 2 * $base-spacing;
    padding: 0;
    margin: 0;
  }
  @media screen and (min-width: $large-screen) {
    font-size: modular-scale(0);
  }


  &::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $light-gray;
    content: '';
    bottom: 0px;
    left: 0;

  }
}

.daily-screenings--navigation--link {
  color: $dark-gray;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-size: modular-scale(-1);
  position: relative;
  line-height: $base-spacing;
  margin-right: $base-spacing;
  padding: $small-spacing 0;
  sup {
    display: none;
  }
  &:nth-child(4), &:nth-child(5) {
    display: none;
  }
  @media screen and (min-width: $medium-screen) {
    // padding: 0 $small-spacing/2;
    display: inline;
    &:nth-child(4) {
      display: block;
    }
  }
  @media screen and (min-width: $large-screen) {
    margin-right: $base-spacing;
    font-size: modular-scale(0);
    &:nth-child(5) {
      display: block;
    }

  }
  &:first-child {
    margin-left: 0;
    @media screen and (min-width: $medium-screen) {
      margin-left: $small-spacing;
    }
    @media screen and (min-width: $large-screen) {
      margin-left: $base-spacing;
    }
  }
  &.current {
    padding: $small-spacing;
    color: $base-font-color;
    font-weight: 700;
    @extend %underline;

  }
  &:focus {
    outline-offset: 0;
    outline-color: $yellow;
    background-color: $yellow;
    color: $base-font-color;
  }
}

.daily-screenings--navigation--view-all {
  margin-left: auto;
  font-size: modular-scale(-1);
  text-transform: lowercase;
  @media screen and (min-width: $large-screen) {
    font-size: modular-scale(0);
  }
  &:focus {
    outline: none;
  }
}

.daily-screenings--screenings {
  margin-bottom: 2 * $base-spacing;
  .alert {
    @media screen and (max-width: $medium-screen) {
      margin: $base-spacing $base-spacing;
    }
  }
}

.daily-screenings--entries {
  text-transform: uppercase;
  font-size: modular-scale(-1);
  border-top: $light-border;
  @media screen and (orientation: portrait) {
    border-top: none;
  }
}

.daily-screenings--entry {
  display: flex;
  -webkit-tap-highlight-color: $yellow;
  color: $base-font-color;
  border-bottom: $light-border;
  line-height: $base-line-height;

  margin-left: -$small-spacing;
  margin-right: -$small-spacing;
  padding: $small-spacing;



  @media screen and (min-width: $medium-screen) {
    margin-left: 0;
    margin-right: 0;
    padding: $small-spacing 0;
  }
  @media screen and (min-width: $large-screen) {
    padding: $base-spacing 0;
  }

  &:last-child {
    border-bottom: none;
  }
  &:hover, &:focus {
    color: $base-font-color;
    &::after {
      color: $yellow;
    }
    .daily-screenings--entry--title-inner {
      @extend %underline;
    }
  }
  &:focus {
    outline: 1px solid $yellow;
    outline-offset: 0px;
  }
}


.daily-screenings--entry--date {
  flex: 0 0 23%;
  font-family: $heading-font-family;
  line-height: .9;
  font-style: italic;
  font-weight: 400;
  padding-left: 0;
  padding-right: $small-spacing;
  font-size: modular-scale(2);
  margin-top: $small-spacing/2;
  @media screen and (min-width: $medium-screen) {
    margin-top: $small-spacing;
    padding-left: $small-spacing;
  }
  @media screen and (min-width: $large-screen) {
    padding-left: $base-spacing;
    font-size: modular-scale(3);
    line-height: 1.2;
  }

}

.daily-screenings--entry--finish-time {
  font-size: modular-scale(-4);
  margin-top: 1.2 * $small-spacing;
  line-height: $heading-font-family;
  font-family: $base-font-family;
  color: $dark-gray;
  font-style: normal;
  text-transform: none;
}

.daily-screenings--entry--text {
  margin-right: $small-spacing;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-top: $small-spacing/2;
  @media screen and (min-width: $medium-screen) {
    margin-right: $base-spacing;
    margin-top: $small-spacing;
  }
  @media screen and (min-width: $large-screen) {
    margin-right: 2 * $base-spacing;
  }
}

.daily-screenings--entry--image {
  flex: 0 0 27.5%;
  margin-bottom: auto;
  background-color: $light-gray;
  @media screen and (min-width: $medium-screen) {
    flex: 0 0 25%;
  }
  img {
    display: block;
    width: 100%;
  }
}


.daily-screenings--entry--title {
  font-weight: 700;
  margin-bottom: $small-spacing;
  font-size: modular-scale(1);
  @media screen and (min-width: $medium-screen) {
    font-size: modular-scale(2);
  }
  @media screen and (min-width: $large-screen) {
    font-size: modular-scale(3);
  }
}

.daily-screenings--entry--title-inner {
  position: relative;
  // &::after {
  //   transition: opacity $base-duration $base-timing;
  //   position: absolute;
  //   opacity: 0;
  //   content: '';
  //   left: 0;
  //   right: 0;
  //   height: $small-spacing/2;
  //   bottom: -$xl-border-width;
  //   height: $xl-border-width;
  //   background-color: $yellow;
  // }
}

.daily-screenings--entry--description {
  font-size: modular-scale(-1);
  color: $dark-gray;
  display: none;
  @media (min-width: $medium-screen) {
    display: block;
  }

}

.daily-screenings--entry--certificate {
  font-size: modular-scale(-5);
  display: inline-block;
  font-weight: 400;
  color: $dark-gray;

}

.daily-screenings--entry--footer {
  margin-top: auto;
  padding-top: $small-spacing/2;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $small-spacing;
  font-size: modular-scale(-2);
  white-space: nowrap;
  overflow: hidden;
  * + * {
    margin-left: $small-spacing/2;
  }
}
