.section--home-strands {
  background-color: white;
  position: relative;
  padding: $small-spacing 0 2 * $base-spacing;
}

.strand--grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$small-spacing/2);
}

.strand--item {
  &::before {
    content: '';
    display: block;
    @media screen and (min-width: $medium-screen) {
      padding-top: 56.25%;
    }
    @media screen and (min-width: $large-screen) {
      padding-top: 100%;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.3);
    transition: background-color $base-timing $base-duration;
  }
  flex: 0 0 100%;
  margin: 0 0 $small-spacing;
  @media screen and (min-width: $medium-screen) {
    margin: 0 $small-spacing/2 $small-spacing;
    flex: 1 0 40%;
    &:hover {
      &::after {
        background-color: rgba(0,0,0,.7);
      }
      .strand--text {
        transform: translateY(-50%);
      }
      .strand--description {
        opacity: 1;
      }
    }
  }
  @media screen and (min-width: $large-screen) {
    flex: 1 0 21%;
  }
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.strand--image {
  position: absolute;
  max-width: none;
  z-index: 9;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  object-position: center;
}

.strand--text {
  padding: 2 * $base-spacing 1.5 * $base-spacing;
  @media screen and (min-width: $medium-screen) {
    padding: $base-spacing 1.5 * $base-spacing;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY((-2.25 * $base-spacing));
  }
  transition: transform $base-duration $base-timing;
}

.strand--title {
  color: white;
  font-size: modular-scale(3);
  font-weight: 500;
  margin-bottom: 0;
  @media screen and (min-width: $medium-screen) {
    min-height: (2em * $heading-line-height);
  }
  @media screen and (min-width: $large-screen) {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

.strand--description {
  display: none;
  font-family: $heading-font-family;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  transition: opacity $base-duration $base-timing;
  color: white;
  font-weight: 400;
  line-height: $heading-line-height;
  font-size: modular-scale(1);
  margin-top: $small-spacing;
  margin-bottom: 0;
  &::before {
    content: '';
    display: block;
    width: 4 * $base-spacing;
    height: $xl-border-width;
    background-color: white;
    margin: $small-spacing auto;
  }
  @media screen and (min-width: $medium-screen) {
    display: block;
  }
}

.section-title-secondary {
  font-family: $heading-font-family;
  font-style: italic;
  margin: 1.5 * $base-spacing 0 $base-spacing;
  text-align: center;
  font-size: modular-scale(5);
  font-weight: 400;
}

.tag--grid {
  @media screen and (min-width: $medium-screen) {
    display: flex;
    flex-wrap: wrap;
  }
  margin: $base-spacing (-$small-spacing/2) 0;
}

.tag--item {
  background-color: $off-white;
  color: $base-font-color;
  font-weight: 500;
  @media screen and (min-width: $medium-screen) {
    flex: 1 0 40%;
  }
  @media screen and (min-width: $large-screen) {
    flex: 1 0 40%;
  }
  display: block;
  margin: 0 $small-spacing/2 $small-spacing;
  text-align: center;
  padding: $small-spacing;
}