.page-standard--header {
  height: 56.25vw;
  @media (orientation: landscape) {
    height: 35vw;
  }
  width: 100%;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0,0,0,.25);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.45), rgba(0,0,0,0) 35%);
  }
}
.page-standard--header--image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;

}

.page-standard--container {
  display: flex;
  flex-direction: row;
  @media screen and (orientation: portrait) {
    flex-direction: column;
  }

  // @extend %padded-box;
}
.page-standard--main {
  flex: 0 1 70%;
  margin: 2 * $base-spacing 0;
  margin-right: 2 * $base-spacing;
  @media screen and (min-width: $large-screen) {
    margin-right: 6 * $base-spacing;
  }
  @media screen and (orientation: portrait) {
    margin-right: 0;
  }
  &.no-aside {
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    font-size: modular-scale(2);
    margin-top: 2 * $base-spacing;
    margin-bottom: $base-spacing;
  }
  p {
    // font-size: modular-scale(-1);
  }
  h1 + h2 {
    margin-top: 0;
  }
}

.page-standard--aside {
  flex: 0 0 30%;
  margin: 6 * $base-spacing 0 2 * $base-spacing;
  margin-bottom: auto;
  @media screen and (orientation: portrait) {
    margin-top: 3 * $base-spacing;
    margin-bottom: 2 * $base-spacing;
  }
}

.page-standard--aside--heading {
  padding-left: $base-spacing;
  font-size: modular-scale(2);
  margin-bottom: $base-spacing;
}

.page-standard--aside--nav {

  border-left: $base-spacing/3 solid $yellow;

}


.page-standard--title {
  font-size: modular-scale(6);
  font-smoothing: antialiased;
  font-weight: 400;
  margin-bottom: 2 * $base-spacing;
  font-family: $heading-font-family;
  font-style: italic;
}

.page-standard--aside--link {
  display: block;
  font-weight: 700;
  color: $base-font-color;
  font-size: modular-scale(0);
  padding: 0 (2 * $base-spacing/3);
  margin-bottom: $small-spacing;
  &.current {
    color: $action-color;
  }

}