.single-listing--image {
  //height: 56.25vw;
  height: 75vw;
  @media (min-width: $medium-screen) {
    height: 35vw;
  }
  width: 100%;
  background-color: $base-font-color;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.9), rgba(0,0,0,0) 35%, rgba(0,0,0,0) 67%, rgba(0,0,0,.5) 100%);
    @media (min-width: $medium-screen) {
      background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 67%, rgba(0,0,0,.5) 100%);
    }
  }
}

.single-listing--header--img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
}

.single-listing--header--trailer {
  position: absolute;
  top: 3em;
  left: 3em;
}

.single-listing--content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media screen and (min-width: $large-screen) {
    overflow: visible;
    flex-direction: row;
  }
}

.single-listing--content {
  h3:not(:first-child) {
    margin-top: $base-spacing;
  }
}

.single-listing--text {

  margin-left: -$small-spacing;
  margin-right: -$small-spacing;
  padding-left: $small-spacing;
  padding-right: $small-spacing;

  @media (min-width: $medium-screen) {
    flex: 0 0 50%;
    margin: 0;
    padding: 0;
  }
  &--content {
    @media screen and (min-width: $large-screen) {
      font-size: modular-scale(-1);
    }

    @extend %underlined-link;
  }
  &__centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  > *:last-child:not(.single-listing--strand-details) {
    padding-bottom: 5 * $base-spacing;
  }

  > *:last-child:not(.single-listing--strand-details) {
    margin-bottom: 5 * $base-spacing;
  }
}

.single-listing--heading {
  margin-top: $small-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-top: 2 * $base-spacing;
  }
  margin-bottom: 1.5 * $base-spacing;
  padding-bottom: 1.25 * $base-spacing;
  border-bottom: $light-border;
}

.single-listing--title {
  font-size: modular-scale(5);
  font-weight: 700;
  color: inherit;
  // font-style: italic;
  // font-family: $heading-font-family;
  margin-bottom: 0;
}

.single-listing--description {
  margin-top: $base-spacing;
  >*:last-child {
    margin-bottom: 0;
  }
}

.single-listing--subtitle {
  font-size: modular-scale(0);
  margin-top: $small-spacing;
  font-weight: 500;
  line-height: $heading-line-height;
  letter-spacing: $base-letter-spacing/2;
  &:empty {
    visibility: hidden;
  }
  &::before {
    content: '';
    width: $base-spacing/3;
    height: $base-spacing/3;
    background-color: $yellow;
    display: inline-block;
    margin-right: $small-spacing/3;
  }
}

// .single-listing--venue {
//   font-weight: 500;
//   font-size: modular-scale(3);
//   font-family: $heading-font-family;
//   font-style: italic;
//   margin-bottom: $small-spacing/2;
// }

.single-listing--alt-language-title {
  font-size: modular-scale(4);
  font-family: $heading-font-family;
  letter-spacing: $base-letter-spacing/2;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  color: $dark-gray;
  line-height: $heading-line-height;
  + .single-listing--meta {
    margin-top: $small-spacing;
  }
}

.single-listing--meta {
  color: $dark-gray;
  @media (min-width: $large-screen) {
    // margin-top: $small-spacing/2;
  }
  font-size: modular-scale(-1);
  > * {
    margin-right: $small-spacing/2;
  }
}

.single-listing--text--footer {
  border-top: $light-border;
  padding-top: 1.5 * $base-spacing;
  margin-top: 1.5 * $base-spacing;
  table {
    table-layout: auto;
    margin: 0;
  }
  td {
    border-bottom: none;
    padding: 0 0 $base-spacing;
    vertical-align: top;
    font-size: modular-scale(-1);
    &:first-child {
      padding-right: $base-spacing;
      font-weight: 500;
      white-space: nowrap;
    }
    &:last-child {
      width: 100%;
    }
  }
}