.single-listing--screenings {
  position: relative;
  margin: 0 (-$small-spacing) $base-spacing;
  left: auto;
  right: auto;
  padding-bottom: 3.5 * $base-spacing;
  @media screen and (orientation: portrait) {
    background-color: #fff;
    margin: 0;
    position: fixed;
    z-index: 999;
    top: calc(100% - #{6 * $base-spacing});
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: top $base-duration $base-timing;
    &.open {
      top: 0;
      overflow: auto;
    }
  }
  @media (min-width: $large-screen) {
    margin: 0;
    margin-left: 2 * $base-spacing;
    padding-top: 3.5 * $base-spacing;
    margin-bottom: 0;
    margin-left: auto;
    flex: 0 1 40%;
    &::after {
      background-color: $off-white;
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      left: -2 * $base-spacing;
      top: 0;
      bottom: 0;
      right: -9999px;
    }
  }
  &.embed-active {
    .single-listing--screenings--header,
    .screenings-table,
    .screenings-table--announcer,
    .single-listing--screenings--key {
      display: none;
    }
  }
  .alert__empty {
    border-top: $base-border;
    border-bottom: $base-border;
  }
}

.listings--screenings--book {
  text-align: center;
  display: inline-block;
  + .listings--screenings--book {
    margin-left: $small-spacing/2;
    @media screen and (orientation: portrait) {
      margin-left: $small-spacing/4
    }
  }
}


.single-listing--screenings--header {
  font-weight: 500;
  margin-bottom: 1.5 * $base-spacing;
  font-size: modular-scale(2);
  @media screen and (orientation: portrait) {
    padding-left: $small-spacing;
    padding-right: $small-spacing;
    border-top: $base-border;
    border-color: $medium-gray;
    height: 2.75 * $base-spacing;
    line-height: 2.75 * $base-spacing;
    position: relative;
    cursor: pointer;
    .single-listing--screenings.open & {
      &::after {
        transform: translateY(-50%) rotate(90deg);
      }
    }
    &:hover {
      &::after {
        color: $black;
      }
    }
    &::after {
      content: '»';
      color: $medium-gray;
      font-weight: 400;
      font-size: modular-scale(3);
      position: absolute;
      right: $base-spacing;
      top: 50%;
      transition: transform $base-duration $base-timing;
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  button {
    line-height: $small-spacing;
    display: none;
    float: right;
    text-indent: 0;
    border: $light-border;
    text-transform: lowercase;
    @media screen and (max-width: $medium-screen) {
      display: block;
    }
  }
}
