.single-listing--venue {
  margin-bottom: 2 * $base-spacing;

  @extend %underlined-link;
}

.single-listing--venue--title {
  font-size: modular-scale(3);
  font-family: $heading-font-family;
  font-style: italic;
  margin-bottom: 0;
  letter-spacing: $base-letter-spacing/2;
  padding-left: $small-spacing;
  padding-right: $small-spacing;

  @media screen and (min-width: $large-screen) {
    padding-left: 0;
    padding-right: 0;
  }
}

.single-listing--venue--details {
  padding-left: $small-spacing;
  padding-right: $small-spacing;

  @media screen and (min-width: $large-screen) {
    padding-left: 0;
    padding-right: 0;
  }

  svg {
    position: absolute;
    left: 0;
    width: 2 * $base-spacing;
    height: 2 * $base-spacing;
    opacity: 0.35;
  }

  h3 {
    margin-bottom: auto;
    font-weight: 500;
  }

  p {

    a {
      color: $base-font-color;
      text-decoration: underline;
    }
  }

  summary {
    cursor: pointer;
  }

  h3 {
    font-size: modular-scale(0);
  }

  &[open] {
    margin-bottom: 3 * $base-spacing;
  }
}