.single-listing--screenings--key {
  padding: 1.5 * $base-spacing $small-spacing;
  @media screen and (min-width: $large-screen) {
    padding: 0;
    margin: 1.5 * $base-spacing 0;
  }
}

.single-listing--screenings--key--content {
  table-layout: auto;
}

.single-listing--screenings--key--item {
  td {
    vertical-align: top;
    border-bottom: none;
    padding: 0;
    padding-bottom: $small-spacing;
    &:first-child {
      line-height: 1;
      padding-right: $small-spacing;

    }
  }
  .label {
    margin-bottom: auto;
    font-size: modular-scale(-2);

  }

}

.single-listing--screenings--key--heading {
  font-size: modular-scale(0);
  font-weight: 500;
  margin-bottom: $base-spacing;
}

.single-listing--screenings--key--abbreviation {
  float: left;
}

.single-listing--screenings--key--title,
.single-listing--screenings--key--description {
  font-size: modular-scale(-1);

}

.single-listing--screenings--key--title {
  margin-bottom: $small-spacing/2;
  font-weight: 500;
}

// .single-listing--screenings--key--content.accordion-enabled {
//   table-layout: auto;
//   @media screen and (min-width: $medium-screen) {
//     display: table;
//   }
// }
