.single-listing--screenings--key {
  padding: 0 $small-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-top: 1.5 * $base-spacing;
  }

}
.single-listing--screenings--key--item {
  td {
    vertical-align: top;
    border-bottom: none;
    padding: 0;
    &:first-child {
      line-height: 1;
      padding-right: $small-spacing;

    }
  }
  .label {
    margin-bottom: auto;
    font-size: modular-scale(-2);

  }

}

.single-listing--screenings--key--heading {
  font-size: modular-scale(0);
  text-indent: -9999px;
  @media screen and (min-width: $medium-screen) {
    text-indent: 0;
  }
  button {
    line-height: $small-spacing;
    display: none;
    float: right;
    text-indent: 0;
    margin-top: $small-spacing/2;
    border: $light-border;
    text-transform: lowercase;
    @media screen and (max-width: $medium-screen) {
      display: block;
    }
  }
}

.single-listing--screenings--key--abbreviation {
  float: left;
}

.single-listing--screenings--key--title,
.single-listing--screenings--key--description {
  font-size: modular-scale(-1);

}

.single-listing--screenings--key--title {
  margin-bottom: $small-spacing/2;
  font-weight: 500;
}

.single-listing--screenings--key--content.accordion-enabled {
  table-layout: auto;
  @media screen and (min-width: $medium-screen) {
    display: table;
  }
}
