
.screenings-table {
  white-space: nowrap;
  margin: 0;
  width: 100%;
  margin-bottom: 0;
  table-layout: auto;
  border-top: $base-border;
  td {
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    line-height: $base-spacing;
    border-bottom: $base-border;
  }
  tbody td:first-child {
    font-weight: 500;
    vertical-align: top;
    padding-right: $base-spacing;
    padding-left: $small-spacing;
    @media screen and (min-width: $large-screen) {
      padding-left: 0;
    }
  }
  tbody td:last-child {
    width: 100%;
    padding-right: $small-spacing;
  }
  label {
    margin-bottom: 0;
    font-weight: 500;
  }
}
.screenings-table--screening {
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    margin-right: $small-spacing;
  }
  label {
    margin-right: $small-spacing;
    padding-left: 1.2 * $base-spacing;
  }
  .label {
    font-size: modular-scale(-2);
    margin-right: $small-spacing/2;
  }
  input {
    margin-top: 0;
    margin-bottom: 0;
  }
  + .screenings-table--screening {
    margin-top: $small-spacing;
  }
}

.screenings-table--explainer {
  margin-top: -1.5 * $base-spacing;
  color: $dark-gray;
  font-size: modular-scale(-1);
  display: none;
  @media screen and (min-width: $large-screen) {
    display: block;
  }
}

.screenings-table--announcer--wrapper {
  z-index: 99999;
  height: 3.5 * $base-spacing;
  background-color: $light-black;
  color: white;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  @media screen and (min-width: $medium-screen) {
    height: auto;
    position: sticky;
  }
  @media screen and (min-width: $large-screen) {
    z-index: 9;
    padding-top: $small-spacing/2;
    padding-bottom: $small-spacing/2;
  }
  transition: transform $base-timing 2 * $base-duration $base-duration;
  transform: translateY(100%);
  margin-top: -3.5 * $base-spacing;

  &.active {
    pointer-events: all;
    transform: translateY(0);
  }
}

.screenings-table--announcer {
  height: 2.5 * $base-spacing;
  line-height: $base-spacing;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: $medium-screen) {
    justify-content: flex-end;
    height: auto;
  }
  &--text {
    margin-right: auto;
    @media screen and (min-width: $medium-screen) {
      margin-right: 0;
    }
    * {
      @media screen and (min-width: $medium-screen) {
        display: inline;
      }
    }
  }
  h3 {
    font-size: modular-scale(0);
    font-weight: 500;
    color: white;
    margin-right: $small-spacing/2;
  }
  p {
    margin-bottom: 0;
  }
  .button {
    margin-left: $small-spacing;
    line-height: 1.75 * $base-spacing;
    @media screen and (min-width: $medium-screen) {
      margin-left: $base-spacing;
      line-height: 1.5 * $base-spacing;
    }
    + .button {
      margin-left: $small-spacing/2;
      @media screen and (min-width: $medium-screen) {
        margin-left: $small-spacing;
      }
    }
  }
}

.screenings-table--announcer--heading {
  margin-bottom: 0;
}
